<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Our New App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-sliding *ngFor="let topic of topics; index as i;">
    <ion-item>
      <ion-label>{{ topic.name }}</ion-label>
      <ion-item-options>
        <ion-item-option>Favorite</ion-item-option>
        <ion-item-option color="danger">Delete</ion-item-option>
      </ion-item-options>
    </ion-item>
  </ion-item-sliding>
  </ion-list>

  <ion-button shape="round" style="position: fixed; bottom: 15px; right: 15px;">+</ion-button>
</ion-content>
